---
import BaseLayout from "../layouts/BaseLayout.astro"
import {Content} from "../components/Me.md"
---

<BaseLayout pageTitle="About Me">
  <div class="prose">
    <Content />
  </div>
</BaseLayout>
