---
---
<style>
  footer {
    margin-top: 2rem;
    padding-top: 0.5rem;
    color: var(--muted);
    font-size: 0.8rem;
  }

  footer a {
    color: var(--muted);
  }

  footer a:hover {
    color: var(--link);
  }
</style>
<footer>
  <hr>
  <p>Content made with ❤️ 100% by Humans.</p>
</footer>
