---
---
<style>
  nav {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .site-name {
    font-size: 1.5rem;
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
  }

  .site-name:hover {
    color: var(--secondary);
    text-decoration: none;
  }

  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .nav-links {
    display: flex;
    gap: 0;
    list-style: none;
    flex-wrap: wrap;
  }

  .link-wrapper::before {
    margin-left: 0.5rem;
    content: "·";
    color: var(--muted);
  }

  .link-wrapper:first-child::before {
    margin-left: 0rem;
    content: "[ ";
    color: var(--muted);
  }

  .link-wrapper:last-child::after {
    content: " ]";
    color: var(--muted);
  }

  .link-wrapper {
    color: var(--link);
    font-size: 1.1rem;
    text-decoration: none;
  }

  .link-wrapper a:hover {
    color: var(--accent);
    text-decoration: underline;
  }

  @media (max-width: 550px) {
    .site-name {
      font-size: 1.2rem;
    }
    .link-wrapper {
      font-size: 1.1rem;
    }
  }
</style>

<nav class="site-header">
  <a href="/" class="site-name">** Pineappletooth **</a>
  <div class="nav-links">
    <div class="link-wrapper">
      <a href="/">home</a>
    </div>
    <div class="link-wrapper">
      <a href="/blog/">blog</a>
    </div>
    <div class="link-wrapper">
      <a href="/about/">about</a>
    </div>
  </div>
</nav>
<hr />
